
body.Basic { background-color: #ddd; }
.Basic .bgc-diceface { background-color: #fff; }
.Basic .bgc-dice { background-color: #356aa0; }
.Basic .bgc-footer { background-color: #000; }
.Basic .bgc-container li { background-color: #fff; }

body.Vampire { background-color: #444; }
.Vampire .bgc-diceface { background-color: #fff; }
.Vampire .bgc-dice { background-color: #900; }
.Vampire .bgc-footer { background-color: #000; }
.Vampire .bgc-container li { background-color: #fff; }

