
.Basic .bgc-diceface { background-color: #fff; }
.Basic .bgc-dice { background-color: #356aa0; }
.Basic .bgc-footer { background-color: #000; }
.Basic .bgc-container li { background-color: #fff; }
body.Basic { background-color: #ddd; }
